<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antes e Depois - Clínica Estética</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/tratamentos">Tratamentos</a></li>
            <li><a href="/antes-depois">Antes e Depois</a></li>
            <li><a href="/novidades">Novidades</a></li>
            <li><a href="/agenda">Agenda</a></li>
        </ul>
    </nav>
    <header>
        <h1>Resultados Reais</h1>
    </header>
    <section class="galeria image-container">
        <div class="gallery-item">
            <img src="https://img.freepik.com/free-photo/antiaging-beauty-treatment_23-2149123619.jpg" alt="Antes do tratamento">
            <img src="https://img.freepik.com/fotos-gratis/mulher-com-vista-frontal-de-olhos-fechados_23-2149909216.jpg" alt="Depois do tratamento">
            <img src="https://img.freepik.com/fotos-gratis/mulher-sorridente-de-vista-frontal-com-extensao-de-cilios_23-2149909214.jpg"  alt="Antes do tratamento">
           
        </div>
        <div class="gallery-item">
            <img src="https://img.freepik.com/fotos-gratis/retrato-de-mulher-madura-antes-e-depois-retocado_23-2149121638.jpg"  alt="Antes do tratamento">
            <img src="https://img.freepik.com/fotos-premium/mulher-de-vista-frontal-com-extensao-de-cilios-posando_23-2149909236.jpg"  alt="Depois do tratamento">
            <img src="https://img.freepik.com/fotos-gratis/mulher-sorridente-com-extensao-de-cilios_23-2149909228.jpg" alt="Antes do tratamento">
            <img src="https://img.freepik.com/fotos-premium/mulher-de-vista-frontal-com-extensao-de-cilios_23-2149909221.jpg"  alt="Depois do tratamento">
    
        </div>
    
    </section>
    <footer>
        <p>&copy; 2025 Clínica Estética. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
